# External junk
.DS_Store
_ReSharper*
*.opensdf
*.sdf
*.dir
*.vcxproj*
*.sln
*.bak
Win32
Debug
Release
*.pyc

# build files
build*/
install*/
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
Makefile
external

# Local MinVR
*log.txt
*local.cfg
*local.sh
*local.vrsetup
*local.*
deps

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# VIM
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
